$background-color: #333
$foreground-color: #fafafa
$base-color: #848
$triadic-color-1: adjust-hue($base-color, 120deg)
$triadic-color-2: adjust-hue($base-color, 240deg)


$hex-quad-height: 30px
$hex-mid-height: 2 * $hex-quad-height
$hex-height: 4 * $hex-quad-height

$hex-width: 104px
$hex-half-width: $hex-width / 2
