@charset "UTF-8";
@font-face
{ 
	font-family: "pictonic";
	src: url("../font/pictonic.eot");
	src: url("../font/pictonic.eot?#iefix") format("eot");
}
 
@font-face
{ 
	font-family: "pictonic";
	src:url(https://:/) format("No-IE-404"),
	url("../font/pictonic.woff") format("woff"),
	url("../font/pictonic.ttf") format("truetype"),
	url("../font/pictonic.svg") format("svg");
	font-weight: normal; font-style: normal;
}
 
.pictonic
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	font-smoothing:  antialiased !important;
	line-height:1em;
}
 
a.pictonic, span.pictonic, small.pictonic {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
 
[class^="icon-"], [class*=" icon-"]
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	font-smoothing:  antialiased !important;
	line-height:1em;
}
 
a[class^="icon-"], a[class*=" icon-"], span[class^="icon-"], span[class*=" icon-"], small[class^="icon-"], small[class*=" icon-"] {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
  
.icon-os-osx_1_:before { content:""; } 
.icon-os-linux_1_:before { content:""; } 
.icon-os-osx-dark:before { content:""; } 
.icon-os-linux:before { content:""; } 
.icon-dbs-mysql:before { content:""; } 
.icon-dbs-postgresql:before { content:""; } 
.icon-dbs-sqlite:before { content:""; } 
.icon-dbs-mongodb:before { content:""; } 
.icon-github-01:before { content:""; } 
.icon-prog-ruby:before { content:""; } 
.icon-prog-csharp:before { content:""; } 
.icon-prog-cplusplus:before { content:""; } 
.icon-prog-js02:before { content:""; } 
.icon-prog-java:before { content:""; } 
.icon-prog-visualstudio:before { content:""; } 
.icon-prog-python:before { content:""; } 
.icon-prog-jquery:before { content:""; } 
.icon-prog-nodejs01:before { content:""; } 
.icon-prog-rails:before { content:""; } 
.icon-prog-erlang:before { content:""; } 
.icon-prog-coffeescr:before { content:""; } 
.icon-prog-scala:before { content:""; } 
.icon-mail:before { content:""; } 
.icon-linkedin:before { content:""; } 
.icon-android:before { content:""; } 
.icon-prog-backbonejs:before { content:""; }