/* begin reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end reset */

/* begin regular */
html, body {
  height:100%;
}

body {
  background:#555;
  font-family:"Helvetica Nue", Helvetica, Arial, sans-serif;
}

#div-background {
  position:absolute;
  z-index:0;
}

#div-foreground {
  width:940px;
  margin:0 auto;
  height:100%;
  position:relative;
  z-index:1;
}

/* Hacky method to vertically center link-block-container - this div is empty */
/* We have it float to the left, set the height to take up half the page, and */
/* bump the div below it upward by half of that div's size so that it centers */
#hacky-floating {
  float:left;
  height:50%;
  margin-bottom:-110px; /* link-block-container height is 110, so this is half */
}

div.link-block-container {
  clear:both; /* Part of hacky method with floater */
  height:104px;
}

a.link-block {
  background:#6ff;
  border-radius:10px;
  color:#555;
  cursor:pointer;
  float:left;
  font-weight:bold;
  font-size:60px;
  height:100px;
  line-height:100px;
  text-align:center;
  text-decoration:none;
  width:455px;
}

a.link-block:hover {
  background:#f6f; /* Old browsers */
}

#link-github {
  float:left;
}

#link-github:hover {
  background:-webkit-gradient(linear, left top, right top, from(#f6f),
    to(#ff6)); /* Webkit */
  background:-moz-linear-gradient(left, #f6f, #ff6); /* FF */
  background:-o-linear-gradient(left, #f6f, #ff6); /* Opera */
  background:-ms-linear-gradient(left, #f6f, #ff6); /* IE10 */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66ff',
    endColorstr='#ffff66', GradientType=1); /* IE6-9 */
}

#link-stackoverflow {
  float:right;
}

#link-stackoverflow:hover {
  background:-webkit-gradient(linear, left top, right top, from(#ff6),
    to(#f6f)); /* Webkit */
  background:-moz-linear-gradient(left , #ff6, #f6f); /* FF */
  background:-o-linear-gradient(left, #ff6, #f6f); /* Opera */
  background:-ms-linear-gradient(left, #ff6, #f6f); /* IE10 */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff66',
    endColorstr='#ff66ff', GradientType=1); /* IE6-9 */
}

#link-source {
  bottom:0px;
  color:#fafafa;
  left:0px;
  position:absolute;
  text-decoration:none;
}

#skills-container {
}

div.skill-canvas-container {
  height:105px;
  width:105px;
  float:left;
  position:relative;
}

span.skill-icon {
  color:#555;
  font-size:33px;
  background-color:#6ff;
  padding:4px;
  border-radius:10px;
  position:absolute;
  top:32px;
  left:32px;
}

canvas.skill-canvas {
}
/* end regular */
